/Battler.class
/Battler$BattleCommands.class
/Battler$BattleCommand.class
/DifficultyScaling.class
/Battler$Attack.class
/Battler$Facing.class
/Battler$Point.class
/TestBattler.class
/CombatInterfaceTester.class
/CombatStatistics.class
